<html>
   <head> 
        <title><%= name%></title>
   </head>
   <script>
   function checkform(){
   	var rate = document.forms['rateform']['rate'].value;
   	if(rate < 1 || rate > 10){
   		alert("Rate must between 1 to 10");
   		return false;
   	}
   }
   </script>
   <form id='rateform' action='/ratemark' method='get' onsubmit="return checkform()">
   Rate(1-10): <br>
   <input type="hidden" name='id' value=<%= id%>>
   <input type="int" name='rate' > 
   <button value='submit'>Submit</button>
	</form>
</html>
